@page
@model OrderLogisticsManagerApplication.Pages.Office.Logs.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Log</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Log.LogID" />
            <div class="form-group">
                <label asp-for="Log.LogTime" class="control-label"></label>
                <input asp-for="Log.LogTime" class="form-control" />
                <span asp-validation-for="Log.LogTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Log.LogAction" class="control-label"></label>
                <input asp-for="Log.LogAction" class="form-control" />
                <span asp-validation-for="Log.LogAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Log.LogOn" class="control-label"></label>
                <input asp-for="Log.LogOn" class="form-control" />
                <span asp-validation-for="Log.LogOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Log.LogDescription" class="control-label"></label>
                <input asp-for="Log.LogDescription" class="form-control" />
                <span asp-validation-for="Log.LogDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
