@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Select Area</h1>
    <div class="container">
        <div class="m-xl-auto form-group">
            <a asp-page="/Office/Index" class="btn btn-dark btn-block" style="font-size: 32px; padding: 50px;  margin: 25px 0px;">Office</a>
        </div>
        <div class="m-xl-auto form-group">
            <a asp-page="/Workshop/Index" class="btn btn-dark btn-block" style="font-size: 32px; padding: 50px; margin: 25px 0px;">Workshop</a>
        </div>
        <div class="m-xl-auto form-group">
            <a asp-page="/Warehouse/Index" class="btn btn-dark btn-block" style="font-size: 32px; padding: 50px; margin: 25px 0px;">Warehouse</a>
        </div>
    </div>
</div>
