@page
@model OrderLogisticsManagerApplication.Pages.Office.IndexModel
@{
    Layout = "_Layout";
}

<h1>Office Index</h1>

<div>

</div>
<div class="container">
    <div>
        <a class="btn btn-primary btn-lg" asp-page="/Office/Orders/index">Orders</a>
        <a class="btn btn-primary btn-lg" asp-page="/Office/Users/index">Users</a>
    </div>
    <div>
        <a class="btn btn-primary btn-lg" asp-page="/Office/ApplicationLogs/index">Application Logs</a>
        <a class="btn btn-primary btn-lg" asp-page="/Office/Components/index">Components</a>
        <a class="btn btn-primary btn-lg" asp-page="/Office/PackingMaterials/index">Packing Materials</a>
    </div>

    <div>

    </div>
</div>