@page
@model OrderLogisticsManagerApplication.Pages.Workshop.CreatePickupRequestModel
@{
    Layout = "_Layout";
}

<h1>Create Pickup Request</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" name="ButtonPressed" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-page="/Workshop/Index">Back to Menu</a>
        </div>
    </div>
    <div class="col-md-4" style=" margin-left: auto; margin-right: 0;">
        <h5>Add Packingmaterial</h5>
        <form method="post" style="margin-top:20px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select class="form-select form-select-lg mb-3" asp-items="@Model.PackingMaterialList" ></select>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" name="ButtonPressed" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>
<hr/>
<h4>Packing Material used on order:</h4>
<div >
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Partnumber</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var materialUsedItem in Model.MaterialUsed)
            {
                <tr>
                    <td>@materialUsedItem.Material.MaterialPartNumber</td>
                    <td>@materialUsedItem.Material.MaterialName</td>
                    <td>@materialUsedItem.Amount</td>
                </tr>
            }
        </tbody>
    </table>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}