@page
@model OrderLogisticsManagerApplication.Pages.Warehouse.IndexModel
@{
    Layout = "_Layout";
}

<h1>Warehouse</h1>
<div class="card-deck">
    @*card for each workgroup*@
    @foreach (var group in Model.Groups)
    {
        <div class="card">
            <div class="card-header"> @group.WorkGroupNumber - @group.WorkGroupName</div>
            <div class=" card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Amount
                            </th>
                            <th>
                                Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in group.Requests)
                        {
                            <tr>
                                <td>
                                    @item.Amount
                                </td>
                                <td>
                                    @item.ComponentName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>